{% extends "layout.html" %}

{% block nav %}
<div class=metanav>
    {% if not session.logged_in %}
    <a href="{{ url_for('flaskr.app.views.login') }}">log in</a>
    {% else %}
    <a href="{{ url_for('flaskr.app.views.entry_add') }}" >创建</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('flaskr.app.views.entry_list') }}">返回列表</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('flaskr.app.views.logout') }}">log out</a>
    {% endif %}
</div>
{% endblock%}

{% block body %}

<ul class=entries>
    <li><h2>{{ entry.title }}</h2></li>
    <li>{{ entry.content }}</li>
</ul>
{% endblock %}